# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Server configurations
.htaccess

# dependencies
node_modules/
/profile-card.md
/new-feature.md
/postman_collection.json
# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.production
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# backend folder
node-backend/
/cv-app-backend

# ESLint
.eslintcache